.bg-image{
  position: fixed;
  width: 50%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-wrapper {
  position: absolute;
  top: 50%;
  right: 15%;
  bottom: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 100%;
  max-width: 400px; /* Limit box width */
  padding: 20px;
  background-color: #fff; /* White background */
  box-shadow: 0 4px 8px rgba(0, 66, 248, 0.452); /* Shadow effect */
  border-radius: 10px; /* Rounded corners */
}

.login-content {
  text-align: center;
}

.err {
  position: absolute;
  font-size: 13px;
  color: #e64646;
  left: 5px;
  top: 55px;
}

.loginerr {
  font-size: 13px;
  color: #e64646;
}